<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework View Migrations configuration, visit https://github.com/magiak/EntityFrameworkViewMigrations --><section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="entityFrameworkViewMigrations" type="EntityFrameworkViewMigrations.PowerShellCommands.Configuration.EntityFrameworkViewMigrationsSection, EntityFrameworkViewMigrations.PowerShellCommands" allowLocation="true" allowDefinition="Everywhere" /></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EstradaSAPConnectorContainer" connectionString="metadata=res://*/Models.EstradaSAPConnector.csdl|res://*/Models.EstradaSAPConnector.ssdl|res://*/Models.EstradaSAPConnector.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV07;initial catalog=EstradaTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="zws_comprobantes_no_abc">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="zws_comprobantes_no_abc_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="zws_comprobantes_abc">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="zws_comprobantes_abc_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="zws_solicitud_anticipo">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="zws_solicitud_anticipo_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="ZWS_DATOS_PROVEEDORES">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_DATOS_PROVEEDORES_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="ZWS_CONSULTA_ID">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZWS_CONSULTA_ID'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_CONSULTA_ID_SOAP12">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZWS_CONSULTA_ID_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_no_abc/200/zws_comprobantes_no_abc/zws_comprobantes_no_abc" binding="customBinding" bindingConfiguration="zws_comprobantes_no_abc" contract="Comprobantes_NO_ABC.ZWS_COMPROBANTES_NO_ABC" name="zws_comprobantes_no_abc" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_no_abc/200/zws_comprobantes_no_abc/zws_comprobantes_no_abc" binding="customBinding" bindingConfiguration="zws_comprobantes_no_abc_SOAP12" contract="Comprobantes_NO_ABC.ZWS_COMPROBANTES_NO_ABC" name="zws_comprobantes_no_abc_SOAP12" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_abc/200/zws_comprobantes_abc/zws_comprobantes_abc" binding="customBinding" bindingConfiguration="zws_comprobantes_abc" contract="Comprobantes_ABC.ZWS_COMPROBANTES_ABC" name="zws_comprobantes_abc" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_abc/200/zws_comprobantes_abc/zws_comprobantes_abc" binding="customBinding" bindingConfiguration="zws_comprobantes_abc_SOAP12" contract="Comprobantes_ABC.ZWS_COMPROBANTES_ABC" name="zws_comprobantes_abc_SOAP12" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_solicitud_anticipo/200/zws_solicitud_anticipo/zws_solicitud_anticipo" binding="customBinding" bindingConfiguration="zws_solicitud_anticipo" contract="Solicitud_Anticipo.ZWS_SOLICITUD_ANTICIPO" name="zws_solicitud_anticipo" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_solicitud_anticipo/200/zws_solicitud_anticipo/zws_solicitud_anticipo" binding="customBinding" bindingConfiguration="zws_solicitud_anticipo_SOAP12" contract="Solicitud_Anticipo.ZWS_SOLICITUD_ANTICIPO" name="zws_solicitud_anticipo_SOAP12" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_datos_proveedores/200/zws_datos_proveedores/zws_datos_proveedores" binding="customBinding" bindingConfiguration="ZWS_DATOS_PROVEEDORES" contract="Datos_Proveedores.ZWS_DATOS_PROVEEDORES" name="ZWS_DATOS_PROVEEDORES" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_datos_proveedores/200/zws_datos_proveedores/zws_datos_proveedores" binding="customBinding" bindingConfiguration="ZWS_DATOS_PROVEEDORES_SOAP12" contract="Datos_Proveedores.ZWS_DATOS_PROVEEDORES" name="ZWS_DATOS_PROVEEDORES_SOAP12" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_consulta_id/200/zws_consulta_id/zws_consulta_id" binding="customBinding" bindingConfiguration="ZWS_CONSULTA_ID" contract="Consulta_Id.ZWS_CONSULTA_ID" name="ZWS_CONSULTA_ID" />
      <endpoint address="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_consulta_id/200/zws_consulta_id/zws_consulta_id" binding="customBinding" bindingConfiguration="ZWS_CONSULTA_ID_SOAP12" contract="Consulta_Id.ZWS_CONSULTA_ID" name="ZWS_CONSULTA_ID_SOAP12" />
    </client>
  </system.serviceModel>
<entityFrameworkViewMigrations>
      <databaseProject projectName="EntityFrameworkViewMigration.Database" migrationsFolderName="Migrations" seedFolderName="Seed" seedFileName="Seed.sql" />
    </entityFrameworkViewMigrations></configuration>